/*controla o layout*/
.menu{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    padding: 1%;

}

/*modifica os menus*/
.menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 140%;
    transition: 0.4s ease;
}

/*quando mouse sobre*/
.menu a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px #00000025;
    border: 1px solid #00000086;
    padding: 0.5% 5% 0.5% 5%;
    border-radius: 7px;
    
}


.container{
    display: flex;             /* ativa flexbox */
    justify-content: center;   /* centraliza horizontalmente */
    gap: 10%;                 /* espaço entre as imagens */
    flex-wrap: wrap;           /* permite quebrar linha se a tela for pequena */
}

.banner{
    width: 10%;
    transition: transform 0.5s ease;
    border-radius: 3%;
    border: 1px solid #00000086;
}


.banner:hover{
    transform: scale(0.93);
    box-shadow: 0 0 15px 10px #5f5f5f25;

}