/*controla o layout*/
.menu{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    padding: 1%;
    cursor: pointer;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(211, 247, 253);
    color: rgb(0, 0, 0);
}

/*modifica os menus*/
.menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 140%;
    transition: 0.4s ease;
}

/*quando mouse sobre*/
.menu a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px #00000025;
    border: 1px solid #00000086;
    padding: 0.5% 5% 0.5% 5%;
    border-radius: 7px;
    
}

.menu a:active{
    transform: scale(2.1);
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    perspective: 1000px; /* Remova isso se não quiser o efeito 3D */
}

/* Este container é necessário para posicionar os lados da frente e de trás */
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Faz um giro horizontal quando você passa o mouse sobre o container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Posiciona os lados da frente e de trás */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Estilo da frente (caso a imagem não carregue) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Estilo do verso */
.flip-card-back {
    background-color: rgb(90, 167, 190);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
}



.container{
    display: flex;             /* ativa flexbox */
    justify-content: center;   /* centraliza horizontalmente */
    gap: 10%;                 /* espaço entre as imagens */
    flex-wrap: wrap;           /* permite quebrar linha se a tela for pequena */

}

.batao{
    width: 10%;
    transition: transform 0.5s ease;
    border-radius: 3%;
    border: 1px solid #00000086;
    cursor: pointer;
}


.batao:hover{
    transform: scale(0.93);
    box-shadow: 0 0 15px 10px #5f5f5f25;

}

.batao:active{
    transform: scale(2.1);
}